<article>
  <div class='article-blog-header'>
    <h1 class='article-blog-title'>HOME</h1>
    <div class='article-blog-created-at'>TIME</div>
  </div>
  <div>
    <div class='article-blog-body'>どうするだよ</div>
  </div>
</article>
<div>koukoku</div>

<%= content_for :right_content do %>
  <p>Right-nav</p>
<% end %>
<%= content_for :left_content do %>
  <p>Left-nav</p>
<% end %>
