<div class='main'>
  <div class='top-wrapper'>
  </div>
  <div class='main-wrapper'>
    <nav class='menu-wrapper'>
    </nav>
    <div class='content-wrapper'>
      <div class='headline-wrapper'>
      </div>
      <div class='front-wrapper'>
        <div class='blog-front-container'>
          <article>
            <div class='article-blog-header'>
              <h1 class='article-blog-title'>タイトル</h1>
              <div class='article-blog-created-at'>time</div>
            </div>
            <div>
              <div class='article-blog-body'>記事内容だよ</div>
            </div>
          </article>
          <div>koukoku</div>
        </div>
      </div>
      <nav class='right-wrapper'>
        <div class='blog-right-container'>
          <p>Right-nav</p>
        </div>
      </nav>
    </div>
    <nav class='left-nav-wrapper'>
      <div class='blog-left-container'>
        <p>Left-nav</p>
      </div>
    </nav>
  </div>
</div>
