<article>
  <div class='article-blog-header'>
    <h1 class='article-blog-title'>HOME</h1>
    <div class='article-blog-created-at'>TIME</div>
  </div>
  <div>
    <div class='article-blog-body'>どうするだよ</div>
  </div>
</article>
<div>koukoku</div>

<%= content_for :right_content do %>
  <% @r_side_items && @r_side_items.each do |rc| %>
    <%= render "/blog/side_item/#{rc.template}", item: rc.m_instances if rc %>
  <% end %>
<% end %>

<%= content_for :left_content do %>
  <% @l_side_items && @l_side_items.each do |li| %>
    <%= render "/blog/side_item/#{li.template}", item: li.m_instances if li %>
  <% end %>
<% end %>
