<div class='container'>
  <div class='content'>
    <div class='form-head'>
      <h2 class= 'xx-large'>お問い合わせ送信完了</h2>
      <div class='sentence'>
        <p>お問い合わせをいただきありがとうございました。<br>
        お問い合わせを受け付けました。</p>
        <p>折り返し、担当者よりご連絡いたしますので、<br>恐れ入りますが、しばらくお待ちください。</p>
        <p>なお、ご入力いただいたメールアドレス宛に受付完了メールを配信しております。<br>
        完了メールが届かない場合、処理が正常に行われていない可能性があります。<br>
        大変お手数ですが、再度お問い合わせの手続きをお願い致します。</p>
      </div>
    </div>
  </div>
</div>
