<div class='blog-side-other'>
  <div class='category_container'>
    <div class='new_title'>カテゴリ一覧</div>
    <ul id="category_record">
      <% item.each do |i| %>
        <li>
          <%= link_to category_path(i.id) do %>
            <%= "#{i.name}(20)" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
