.blog-front-container{
    height: 100%;
    overflow: hidden;
    margin-left:$main-vertical-space;
    @media screen and (max-width: $responsive-mobile-bp) {
        margin-left:0;
    }
    .content{
        border-radius: 4px;
        background-color: $blogpage-front-background-color;
        overflow: hidden;
        padding: 24px;
        @media screen and (max-width: $responsive-mobile-bp) {
            padding: 16px;
        }
        //show
        .article-full{
            .article-blog-header{
                padding: 36px 40px;
                @media screen and (max-width: $responsive-mobile-bp) {
                    padding: 24px 0;
                }
                .article-blog-title{
                    @extend .xxx-large;
                }
                .article-blog-created-at{
                    @extend .small;
                    color: #666;
                }
            }
            .article-blog-body{
                margin-top: 24px;
                // white-space: pre-wrap;
                word-break: break-all;
            }
        }
        //index
        .article-item{
            .article-blog-header{
                padding: 0 0;
                @media screen and (max-width: $responsive-mobile-bp) {
                    padding: 0;
                }
                .article-blog-title{
                    @extend .x-large;
                }
                .article-blog-created-at{
                    @extend .xx-small;
                    color: #666;
                }
            }
            .article-blog-body{
                $height: 175px;
                max-height: $height;
                height: 25%;
                .img{
                }
                .sentence{
                    max-height: $height;
                    height: 25%;
                    overflow: hidden;
                    @extend .small;
                    margin-top: 0;
                    p{
                        @extend .small;
                    }
                    // white-space: pre-wrap;
                    word-break: break-all;
                }
            }
            .read_more{
                right: 0;
                bottom: 0;
                color: #0096fa;
                @extend .small;
                text-align:right;
            }
        }
        //画像なし
        .type1{
            .article-blog-body{
                .img-box{
                    display:none;
                }
            }
        }
        //画像あり
        .type2{
            .article-blog-body{
                display: flex;
                $article-img-size-pc: 25%;
                $article-img-size-sp: 45%;
                .img-box{
                    flex-basis: $article-img-size-pc;
                    @media screen and (max-width: $responsive-smartphone-bp) {
                        flex-basis: $article-img-size-sp;
                    }
                    background:#cccccc;
                    margin-right: 10px;
                    text-align:center;
                    img{
                        width:auto;
                        height:auto;
                        max-width:100%;
                        max-height:100%;
                    }
                }
                .sentence{
                    flex-basis: calc( 100% - #{$article-img-size-pc} );
                    @media screen and (max-width: $responsive-smartphone-bp) {
                        flex-basis: calc( 100% - #{$article-img-size-sp} );
                    }
                }
            }
        }
    }
    .container:not(:first-child){
        margin-top:$main-horizontal-space;
    }
}

.advertising{
    @media screen and (max-width: $responsive-mobile-bp) {
        display: none;
    }
}

.blog-left-container{
    background-color: $blogpage-front-background-color;
    border-radius: 4px;
    height: 100%;
    overflow: hidden;
    padding: 10px;
    @media screen and (max-width: $responsive-mobile-bp) {
        padding: 10px 16px;
    }
}

.blog-right-container{
    img{
        width:auto;
        height:auto;
        max-width:100%;
        max-height:100%;
    }
    background-color: $blogpage-front-background-color;
    border-radius: 4px;
    height: 100%;
    margin-left:$main-vertical-space;
    overflow: hidden;
    padding: 10px;
    @media screen and (max-width: $responsive-mobile-bp) {
        padding: 10px 16px;
        margin-left:0;
    }
    //side_container
    .blog-side-other{
        .new_title{
            margin-top: 25px;
            background-repeat: no-repeat;
            border-bottom: 1px #ccc solid;
            @extend .small;
            font-weight: bold;
        }
        .li_article{
            border-bottom: 1px solid #ccc;
            clear: both;
            cursor: pointer;
            display: block;
            list-style: none outside;
            overflow: hidden;
            a{
                @extend .small;
            }
        }
        .join_time{
            float:right;
            color: #666;
        }
    }
}

